body {
    background: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.maincontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

.clock {
  /*  grid-column: 1 / 2;
    grid-row: 2 / 3; */
    color: white;
    font-size: 80px;
    border: 1px solid #ccc;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 50px;
    border-radius: 10px;
    
}

.myDate {
  /*  grid-column: 1 / 2;
    grid-row: 1 / 2; */
    
    color: white;
    font-size: 80px;
    border: 1px solid #ccc;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 50px;
    border-radius: 10px;
}